.imagens{
    height: 100%;
}
.livro-anterior__titulo, .livro__anterior-link, .livro__anterior-img{
    display: none;
}

/*
.background-image__acotar {
    background-image: url('../img/roses.png');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    position: absolute;
    height: 30vh;
    width: 80%;
    bottom: 0;
    margin: 0 0 15.5em 4.5em;
}

main {
    position: relative;
    z-index: 2;
}*/